@font-face {
    font-family: "BYekan";
    src: url("../fonts/BYekan-webfont.eot") format("eot"), url("../fonts/BYekan-webfont.woff") format("woff"), url("../fonts/BYekan-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* html,
#root {
    height: 100%;
} */

body {
    direction: rtl;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.backgroundCold {
    background: linear-gradient(90deg, rgba(0, 167, 36, 0) 0%, rgba(0, 0, 0, 0.096) 100%) , url(/assets/images/BackCold.jpg) no-repeat;
    background-size: cover;
}
.backgroundNormal1 {
    background: linear-gradient(90deg, rgba(5, 184, 255, 0.336) 0%, rgba(20, 220, 255, 0.13) 100%) , url(/assets/images/BackNormal.jpg) no-repeat;
    background-size: cover;
}
.backgroundNormal2 {
    background: linear-gradient(90deg, rgba(2, 255, 57, 0.253) 0%, rgba(235, 252, 7, 0.247) 100%) , url(/assets/images/BackNormal.jpg) no-repeat;
    background-size: cover;
}
.backgroundHot {
    background: linear-gradient(90deg, rgba(200, 255, 0, 0.582) 0%, rgba(252, 0, 0, 0.144) 100%) , url(/assets/images/BackHot.jpg) no-repeat;
    background-size: cover;
}

* {
    font-family: BYekan;
    /* direction: rtl;
    text-align: right; */
}


@media only screen and (max-width: 768px) {


}